.footer__form {
	padding: 20px 40px;
	background-color: #bebebf;
	width: 100%;
	box-sizing: border-box;
		& .fa.fa-image{
			z-index: 1;
			position: absolute;
			bottom: 10px;
			right: 170px;
		}
		&__text-box {
		height: 50px;
		padding: 0 10px;
		width: calc(100% - 115px);
		box-sizing: border-box;
		color: #434A54;
		font-size: 16px;
		}
		&__send-btn {
		display: inline-block;
		height: 50px;
		background-color: $blue;
		color: $white;
		margin-left: 15px;
		width: 90px;
		}
}