.side-bar {
	background-color: #2f3e51;
	width: 300px;
	color: #ffffff;
	height: 100vh;
	float: left;
		&__user {
		background-color: #253141;
		padding: 0 20px;
			&__box{
			line-height: 150px;
				&_name {
				font-size: 16px;
				font-weight: bold;
				display: inline-block;
				}
				& .fa.fa-edit{
					float: right;
					height: 150px;
					line-height: 150px;
				}
				& .fa.fa-cog{
					float: right;
					height: 150px;
					line-height: 150px;
				}
			}
		}
		&__user-messages {
		padding: 0 20px;
		height: calc(100vh - 150px);
		margin: 20px 0 40px 0;
			&_group-name {
			font-size: 15px;
			}
			&_my-messages {
			font-size: 11px;
			margin-top: 5px;
			}
		}
}